/* Переменные */
:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --hero-color: #2f303a;
  --black-color: #000000;
  --hover-button-color: #188ce8;
  --portfolio-button-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --social-icons: rgba(175, 177, 184, 1);
  --theme-footer-icon: rgba(255, 255, 255, 0.1);
  --logo-font: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --main-font: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Глобальные стили */
body {
  background-color: var(--white-color);
  color: var(--title-color);
  font-family: var(--main-font);
  font-style: normal;
  /* margin-top: 81px; */
}

/* Применится ко всем ссылкам на странице */
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Убрали маркеры у списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Анимация */

.touch-transform {
  transition-property: color, fill, background-color, border, box-shadow,
    opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

/* Хедер */

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

/* ПОЗИЦИОНИРОВАНИЕ */

/* .fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 81px;
} */

/* ПОЗИЦИОНИРОВАНИЕ конец */

.header-container,
.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  margin-left: 93px;
  display: flex;
}

.nav-list-item:not(:last-child),
.contact-list-item:not(:last-child) {
  display: flex;
  margin-right: 50px;
}

.contact-nav {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  display: flex;
  margin-left: auto;
}

/* Навигация */
.link-nav:hover,
.link-nav:focus,
.link-nav:active {
  color: var(--accent-color);
}

.link-nav.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

/* Иконки контактов */

.icon {
  fill: currentColor;
  margin-right: 10px;
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Стили для футера */
.link-nav-footer:hover,
.link-nav-footer:focus,
.link-nav-footer:active {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Герой */

.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-hero {
  margin-bottom: 30px;
  margin-top: 0;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Кнопка и модальное окно на секции герой*/

.button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  /* align-items: center; */
  text-align: center;
  letter-spacing: 0.06em;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white-color);
  background-color: var(--hover-button-color);
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* transition: opacity 250ms var(--cubic); */
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 15px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  /* transition: transform 250ms var(--cubic); */
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Кнопки на странице Портфолио */
.button-portfolio {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}

.button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--portfolio-button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

.button-item:hover,
.button-item:focus,
.button-item:active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Секция наши преимущества (заголовки и текст) в Index */

.invisible {
  display: none;
}

.features-list {
  display: flex;
  margin-left: -30px;
}

.features-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

/* Псевдо элементы - иконки */

.features-item::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--portfolio-button-color);
}

.icon-antenna::before {
  background-image: url(../images/index/antenna.svg);
  margin-bottom: 30px;
}

.icon-clock::before {
  background-image: url(../images/index/clock.svg);
  margin-bottom: 30px;
}

.icon-notebook::before {
  background-image: url(../images/index/notebook.svg);
  margin-bottom: 30px;
}

.icon-astro::before {
  background-image: url(../images/index/astronaut.svg);
  margin-bottom: 30px;
}

.title-section {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.title-list {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.text-list {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Чем мы занимаемся */

.section.our-work {
  padding-top: 0;
}

.our-work-list {
  display: flex;
  justify-content: space-between;
}

.our-work-item {
  position: relative;
  z-index: -1;
}

.title-bg-work {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
}

.bg-our-work {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.section.our-team {
  background-color: var(--portfolio-button-color);
}

.our-team-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
}

.our-team-list > .team-item {
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.card-team {
  padding: 30px;
}

.title-our-team {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.text-our-team {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

/* Иконки социальных сетей - Наша команда */

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--social-icons);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social-icons-smm {
  width: 20px;
  height: 20px;
}

/* Секция Постоянные клиенты */

.clients-list {
  display: flex;
  /* justify-content: center; */
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-icons);
  border-radius: 4px;
  border: 1px solid var(--social-icons);
}

.icon-clients {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* Секция Наши проекты в Portfolio pages */

/* Overlay в портфолио */

.overlay-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio .text-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  /* transition: transform 250ms var(--cubic), opacity 250ms var(--cubic); */
}

.text-overlay {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 24px;
}

.portfolio-link:hover .text-overlay,
.portfolio-link:focus .text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.card-box {
  display: flex;
}

.card-set {
  display: flex;
  flex-flow: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set > .card-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.content-card-item {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.title-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.text-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Логотип */

.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logostudio {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

/* Логотип в футере */

.logo-footer {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-right: 70px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* Иконки в футере */

.footer-box .text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-box {
  margin-right: 93px;
}

.social-icons-link.footer-icons {
  background-color: var(--theme-footer-icon);
  fill: var(--white-color);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.hero.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/Img-overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Форма */

textarea {
  resize: none;
}

.contact-form {
  width: 528px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}

.form-box {
  display: flex;
  flex-direction: column;
  outline: 1px solid blue;
  margin-bottom: 28px;
}

.form-box input {
  margin: 0;
  padding: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-box label {
  margin-bottom: 4px;
}

.contact-form-input {
}

/* Форма в футере */

/* .form-footer {
  position: relative;
}

.form-label-footer {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn-footer-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-color);
  margin-right: 12px;
}

.form-btn-footer {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-form-footer {
  fill: var(--white-color);
  margin-left: 10px;
} */

.form-footer {
}

.form-footer-box {
  display: flex;
  margin-left: auto;
}

.title-b {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn-footer-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-color);
}
.form-btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-btn-footer:hover,
.form-btn-footer:focus,
.form-btn-footer:active {
  color: var(--white-color);
  background-color: var(--hover-button-color);
}

.icon-form-footer {
  fill: var(--white-color);
  margin-left: 10px;
}
